<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>glowr</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>glowr</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSCameraUsageDescription</key>
	<string>Glowr needs access to your camera to take profile photos and record video portfolios.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Glowr needs access to your microphone to record video portfolios with audio.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Glowr needs permission to save photos and videos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Glowr needs access to your photo library to select photos for your profile and portfolios.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>lark</string>
		<string>wxwork</string>
		<string>dingtalk</string>
	</array>
</dict>
</plist>
