<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>popla</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>popla</string>
			</array>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Popla needs camera access for capturing urban discoveries and video chatting with curators.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Popla needs microphone access for video recording and voice messaging in chat.</string>
	<key>NSPhotoLibraryAdditionsUsageDescription</key>
	<string>Popla requires access to add new photos to your library, enabling you to save urban moments directly from the app.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Popla needs access to your photo library to allow you to share urban discoveries and personalize your curated profile.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>lark</string>
		<string>wxwork</string>
		<string>dingtalk</string>
	</array>
</dict>
</plist>
